<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AlunoEditar</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="style.css">
    
    <nav class="navbar-container">
        <ul class="list-style">
            <li class="list-style2">
                <a class="link-style" target="_blank" href="/aluno">ALUNO</a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/alunoEditar">EDITAR DADOS CADASTRAIS
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/disciplina">DISCIPLINA
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/turma">TURMA
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/alunoExcluir">EXCLUSÃO DE ALUNOS
                </a>
            </li>
        </ul>
    </nav>


      <div class="container_form">
    <h1>Formulário de Cadastro</h1>
    <form id="my-form" th:action="@{curso}" th:object="${cursoDTO}" method="post">
        
        <div class="form_grupo">
            <label for="nome" class="form_label">Nome</label>
            <input id="field-text" th:field="*{nome}" class="alunoDTO" type="text" placeholder="seu nome" required>
        </div>

        <div class="form_grupo">
            <label for="matricula" class="form_label">Matricula</label>
            <input id="field-text2" th:field="*{matricula}" class="alunoDTO" type="text" placeholder="sua matricula" required>
        </div>

        <div class="form_grupo">
            <label for="cpf" class="form_label">CPF</label>
            <input id="field-text2" th:field="*{matricula}" class="alunoDTO" type="text" placeholder="seu cpf" required>
        </div>
        
        <div class="form_grupo">
            <label for="nome" class="form_label">Endereço</label>
            <input id="field-text4" th:field="*{endereco}" class="alunoDTO" type="text" placeholder="endereço" required>
        </div>
        
                <div class="form_grupo">
            
            <div class="submit">
              
              <button type="submit" name="Submit" class="submit_btn" >Atualizar</button>
            
            </div>
    </form>
</head>
<body>

</body>
</html>