<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Curso - Remover</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="style.css">
    
    <nav class="navbar-container">
        <ul class="list-style">
            <li class="list-style2">
                <a class="link-style" target="_blank" href="/aluno">ALUNO</a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/curso">CURSO
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/disciplina">DISCIPLINA
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/turma">TURMA
                </a>
            </li>
        </ul>
    </nav>
<div class="container_form">
    <h1>Formulário de Remoção de Curso</h1>
    <form id="my-form" th:action="@{curso}" th:object="${cursoDTO}" method="post">
        
        <div class="form_grupo">
            <label for="nome" class="form_label">Nome</label>
            <input id="field-text" th:field="*{name}" class="cursoDTO" type="text" placeholder="seu curso" required>
        </div>

        <div class="form_grupo">
            <label for="matricula" class="form_label">Horas</label>
            <input id="field-text2" th:field="*{totalGrade}" class="cursoDTO" type="text" placeholder="suas horas" required>
        </div>     

      
        <div class="form_grupo">    
            <div class="submit">
              <button type="submit" name="Submit" class="submit_btn" >Remover</button>           
         </div>
    </form>
</head>
<body>

</body>
</html>